<section>
  <img src="<%=result.image_url %>" />
  <h4>
    <%=result.title %>
  </h4>
  <p id="author">
    <%=result.author %>
  </p>
  <p>
    <%=result.description %>
  </p>
  <p>
    <%=result.isbn %>
  </p>
</section>